<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{{site.site_header}}</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <link rel="stylesheet" href="/assets/bootstrap.css">
    <link rel="stylesheet" href="/assets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    {% include smartlook.html code=site.smartlook %}
</head>
<body>

<div class="container-fluid header-container">
    <div class="header mt-0">
        <div class="container">
            <div class="row">
                <div class="col-md-9 ">
                    <div class="header-inner">
                        <span class="site-header">
                            <a href="/"><h1 class="mb-0">{{ site.site_header }}</h1></a>
                        </span>
                        <p>by <a href="https://ondrej-sika.cz"><b>Ondrej
                            Sika</b></a> | <a
                                href="https://ondrej-sika.cz/skoleniio">Skoleni.io</a></p>
                        <a href="#" class="btn mybutton mb-2">Nezávazně poptat školení</a>
                        <a href="#kontakt" class="btn btn-large mybutton mb-2">Kontaktovat</a>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <img src="{{ site.logo }}" class="img-responsive d-none d-lg-block">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{ content }}
        </div>
    </div>
</div>

{% include analytics.html code=site.google_analytics %}
{% include leady.html code=site.leady %}

<!-- Footer -->
<div class="container-fluid footer">
    <div class="container">
        <div class="container-flex">
            <div class="d-flex row text-white">
                <div class="col-md-4 col-sm-10">
                    <h4>Kontakty</h4>
                    <h5>Ondřej Sika</h5>
                    <a href="mailto:ondrej@ondrejsika.com">ondrej@ondrejsika.com</a><br>
                    <a href="https://ondrej-sika.cz">ondrej-sika.cz</a><br>
                    <a href="tel:+420773452376">+420 773 452 376</a>
                </div>
                <div class="col-md-4 col-sm-10">
                    <h4>Nejoblíbenější kurzy</h4>
                    <a href="#" class="git-footer">Git</a><br>
                    <a href="#">Docker</a><br>
                </div>
                <div class="col-md-4 col-sm-10">
                    #
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

