---
layout: base
title: Ansible školení
---

<h3>Aktualně vypsané termíny</h3>

{% include terminy.html %}
<p>{{ site.actual_courses }}
</p>
<hr class="line">

<h3>Co je {{ site.program }}</h3>
<p>{{ site.about_program}}</p>
<hr class="line">

<h3>O mně</h3>
<p>{{ site.about_lector | markdownify }}</p>
<hr class="line">

<h3>Co Vás naučím</h3>

<ul>{{ site.learning_goals }}</ul>
<hr class="line">

<h3>Jak školení probíhá</h3>
<p>{{ site.course_description | markdownify }}</p>
<hr class="line">

<h3>Cena</h3>
<p>{{ site.price | markdownify }}</p>

<hr class="line">

<h3>Mám zájem o školení</h3>
<p>Pokud máte zájem o školení, neváhejte mě kontaktovat
    <a href="{{ site.inquiry_url }}" class="btn mybutton-outline">nezavazne poptat skoleni gitlabu</a>.</p>

<hr>
<h3>Kontakt</h3>

<h4>Ondrej Sika</h4>

<a href="mailto:ondrej@ondrejsika.com">ondrej@ondrejsika.com</a><br>
<a href="https://ondrej-sika.cz">https://ondrej-sika.cz</a><br>
<a href="tel:+420773452376">+420 773 452 376</a>
<center style="margin: 30px 0 40px">
    <a href="{{ site.inquiry_url }}" class="btn btn-lg mybutton">Nezavazne poptat skoleni Ansible</a>
</center>


<!--<script type="text/javascript">-->
    <!--var base_url = 'https://ondrej-sika.cz/skoleni/docker/'-->
    <!--var source_name = 'skoleni-docker.cz'-->
    <!--var url = base_url + '?' + 'utm_source=' + source_name + '&' + 'x_sika_ref=ifr+' + source_name + '&' + 'session=' + btoa(document.cookie);-->
    <!--var ifrm = document.createElement("iframe");-->
    <!--ifrm.setAttribute("src", url);-->
    <!--ifrm.style.width = "640px";-->
    <!--ifrm.style.height = "480px";-->
    <!--ifrm.style.display = "none";-->
    <!--document.body.appendChild(ifrm);-->
<!--</script>-->

